* {
  margin: 0;
  background-color: #444;

}

.navContainer{
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: #333;
  display: grid;
  place-items: center;
}

.page{
  position: absolute;
  top: 10%;
  height: 90%;
  width: 100%;
  background-color: none;
  display: grid;
  place-items: center;
}

.contentContainer{
  position: relative;
  top: 10%;
  height: 80%;
  width: 50%;
  background-color: none;
}

.text{
  position: relative;
  color: #FFF;
  left: 15%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-top: 1.25%;
  margin-bottom: 1.25%;
}

.formClass{
  position: relative;
  left: 15%;
  display: grid;
  width: 50%;
  height: 8%;
  color: #000;
  background-color: #DDD;
  border-radius: 0.25rem;
  border: none;
}

.miniText{
  position: relative;
  right: -53.5%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.625vw;
  margin-top: 0.75%;

}

a {
  text-decoration: none;
  color: #FFF;
}

.button{
  position: relative;
  left: 26%;
  width: 30%;
  height: 6%;
  border-radius: 0.25rem;
  background-color: #FF8A00;
  margin-top: 1.25%;
  display: grid;
  place-items: center;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}
